@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.orgCarrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.orgItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    padding-top: 1rem;
}

