@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.iconoC{
    width: 2.8vw;
    margin-left: 30rem;
}

p{
    margin-right: 12rem;
    color: rgb(126, 126, 150);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}