

.estiloBot{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}
button{
    background-color: rgb(242, 241, 247);
    padding: 1rem;
    margin: 0.7rem;
    border-radius: 0.3rem;
    color: rgb(70, 70, 114);
}

input{
    background-color:  rgb(70, 70, 114);
    width: 1.2rem;
    color:  rgb(242, 241, 247);
    border-radius: 0.3rem;
    padding-left: 1rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
} 